
body {
	list-style: none;
	background-color: #dedee2;
	background-image: url(fondpoint-02.svg) ;
	background-size: cover;
	background-repeat: no-repeat;
	
}


.wipe-transition {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    left: -100%;
}

.Tooltip {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  top: -2pt;
  backdrop-filter: blur(9px);
  background: rgba(2, 2, 2, 0.06);
  background-size: cover;

  clip-path: url(#svgPath) ;
  
  
 

}

.mention2 a {
	
	padding-right: 300pt;
	padding-top: 10pt;
	padding-bottom: 11pt;
	padding-left: 10pt;
	margin-left: -2pt;
	text-decoration: none;
	color: inherit; 


}

@font-face {
    font-family: 'monument';
    src: url('/font/monument-extended-webfont.woff2') format('woff2'),
         url('/font/monument-extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'messapia';
    src: url('/font/messapia-bold.woff2') format('woff2'),
         url('/font/messapia-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* LOGO NAVBAR ________________________________ */

.navbarlogo {
	height: 50pt;
	width: 300pt;
	border-radius: 10pt;
	margin-left: 20pt;
	position: fixed;
	z-index: 19;


}

.barlogo {
	width: 317pt;
	height: 0.6pt;
	position: fixed;
	left: 18pt;
	top: 80pt;
	background-color: #242526;
}

.navbarlogo p {
	font-size: 13pt;
	top: 75pt;
	left: 33pt;
	z-index: 30;
	position: fixed;
	font-family: messapia;
	color: white;
}



.logo {
	opacity: 100%;
	width: 430pt;
	top: 0pt;
	left: 0pt;
	position: fixed;
	padding-left: 0pt;
	padding-bottom: 0pt;
	padding-right: 10pt;
	border-bottom-right-radius: 40pt; 
	border-right: solid #242526 1pt;
	border-bottom: solid #242526 1pt;
	backdrop-filter: blur(8px);
	
	
}



.mention {
	position: fixed;
	top:120pt;
	width: 300pt;
	height: 30pt;
	background-color: #242526;
	border: solid #CCCCCC 1pt;
	
	margin-left: 13pt;
	z-index: 20;

}

.mention p {
	color: #242526;
	margin-left:13pt;
	margin-top: 6pt;
	font-family: helvetica;
	font-style: italic;
	font-weight: 100;
	z-index: 20;
}

.mention2 {
	position: fixed;
	top: 105pt;
	width: 330pt;
	height: 107pt;
	border-radius: 3pt;
	margin-left: 13pt;
	z-index: 14;
	


}

.onglett1 
{
	font-family: monument;
	display: block;
	cursor: pointer;
	color: #242526;
	font-size: 13pt;
	position: relative;

	overflow: hidden;
	padding-bottom: 7.37pt;
	padding-right: 100pt;
	z-index: 20;
	transition: 0.2s;
	
}

.onglett1 :hover {
	background-color: grey;
	
	padding-right: 300pt;

}

.onglett2 
{
	font-family: monument;
	display: block;
	cursor: pointer;
	color: #242526;
	font-size: 13pt;
	position: relative;

	overflow: hidden;
	padding-bottom: 7.37pt;
	padding-right: 100pt;
	z-index: 20;
	transition: 0.2s;
	padding-top: 9.2pt;
	border-bottom: 0.1pt solid #242526;
}

.onglett2 :hover {
	background-color: grey;
	
	padding-right: 300pt;

}

.onglett3 
{
	font-family: monument;
	display: block;
	cursor: pointer;
	color: #242526;
	font-size: 13pt;
	position: relative;

	overflow: hidden;
	padding-bottom: 7.37pt;
	padding-right: 100pt;
	z-index: 20;
	transition: 0.2s;
	padding-top: 9.2pt;



}

.onglett3 :hover {
	background-color: grey;
	
	padding-right: 300pt;


}

.bar {
	height: 0.7pt;
	width: 331pt;
	margin-left: 13pt;
	top: 155pt;
	background-color: #242526;
	position: fixed;
	z-index: 15;
}

.bar2 {
	height: 1pt;
	width: 331pt;
	margin-left: 13pt;
	top: 192pt;
	background-color: #242526;
	position: fixed;
	z-index: 15;
}


.pictowash
{
	position: fixed;
	left: 18pt;
	width: 200pt;
	top: 210pt;
	z-index: 30;
}

/*________________________________ */
/*________________________________ */
/*________________________________ */

.reset-button {

	padding: 4pt;
	left: 450pt;
	height: 63pt;
	width: 63pt;
	top: 10pt;
	position: fixed;
	border: solid #242526 1pt;
	border-radius: 100%; 
	cursor: pointer;
	backdrop-filter: blur(8px);
	z-index: 18;

}


.dark-button {

	padding: 4pt;
	left: 530pt;
	height: 63pt;
	width: 63pt;
	top: 10pt;
	position: fixed;
	border: solid #242526 1pt;
	border-radius: 100%; 
	cursor: pointer;
	backdrop-filter: blur(8px);
	z-index: 18;

}

.clear-button {

	padding: 4pt;
	left: 610pt;
	height: 63pt;
	width: 63pt;
	top: 10pt;
	position: fixed;
	border: solid #242526 1pt;
	border-radius: 100%; 
	cursor: pointer;
	backdrop-filter: blur(8px);
	z-index: 18;

}

.align {
	width: 50pt;
	margin-left: 7pt;
	margin-top: 7pt;
	z-index: 18;
}


.dark {
	width: 55pt;
	margin-left: 3.5pt;
	margin-top: 5pt;
	z-index: 18;
}


/* VISUEL CENTRAL ________________________________ */

.rendermain
{
	z-index: 5;
	cursor: grab;
	
}

.rendermain::-webkit-scrollbar {
  display: none;
}

.render
{
	margin-bottom: -70pt;
	margin-left: 10%;
	display: flex;
	cursor: grab;
	overflow: hidden;
	
}


.sample
{
	margin-top: 25pt;
	min-width: 250pt;
	width: 70%;
	position: fixed;
	z-index: 5;


}

.sample1
{
	
	margin-top: 25pt;
	min-width: 250pt;
	width: 70%;
	position: fixed;
	z-index: 5;

}

.sample2
{
	margin-top: 25pt;
	min-width: 250pt;
	width: 70%;
	position: fixed;
	z-index: 5;

}





/*
.clear-button {
	height: 40pt;
	padding-right: 10pt;
	left: 387pt;
	top: 20pt;
	position: fixed;
	
	border-radius: 30pt; 
	cursor: pointer;

}

.clear {
	width: 50pt;
	
}

*/



/* ARTISTS / ALL ________________________________ */

.fleche
{
	bottom: 0pt;
	right: 0pt;
	position: fixed;
	width: 60pt;
	height: 160pt;
	background-color: #7B68EE;
	
	z-index: 40;
}

.fleche img {
	margin-top: 60pt;
	height: 40pt;
	margin-left: 8pt;
}

.pageartists {
	width: 100%;
	height: 160pt;
	bottom: 0;
	position: fixed;
	z-index: 30;
	transition: 1s;
	border-top: solid #242526 1pt;
	left: 0;
	backdrop-filter: blur(8px);

}

.artists {
	width: 100%;
	height: 160pt;
	
	opacity: 20%;
	bottom: 0;
	position: fixed;
	z-index: 10;
	transition: 1s;
	backdrop-filter: blur(8px);


}

.ongletartists {
	bottom: 170pt;
	left: 10pt;
	position: fixed;
	cursor: pointer;
	z-index: 10;

}

.onglet1 {

	bottom: 170pt;
	position: fixed;
	z-index: 10;
	
	


}

.ongletartists p {
	font-family: 'monument';
	font-size: 15pt;
	margin-top: 10pt;
	color:  #242526;
	left: 20pt;
	position: fixed;
	bottom: 164pt;
	padding-left: 10pt;
	padding-right:10pt;
	padding-top:4pt;
	padding-bottom:4pt;
	border-radius: 50pt;
	border:solid  #242526 2pt; 
	backdrop-filter: blur(8px);
	z-index: 10;

}

.menu {
	
	height: 160pt;
	width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 35;
    white-space: nowrap;
    
    margin-bottom: 30pt: 
    margin-left: -20pt;
}

.menulogo {
	width: 180pt;
	margin-top: -10pt;
	display: inline-block;
	z-index: 35;
	margin-left: -20pt;
	transition: 1s;

}

.menulogo {
	width: 180pt;
	margin-top: -13pt;
	display: inline-block;
	z-index: 35;
	margin-left: -20pt;
	transition: 1s;

}







.menu::-webkit-scrollbar {
  display: none;
}





/*________________________ */

.all {
	width: 100%;
	height: 0pt;

	
	opacity: 20%;
	bottom: 0;
	position: fixed;
	transition: 1s;
	z-index: 30;
	border-top: solid black 1pt;
	backdrop-filter: blur(8px);

}

.ongletall {
	bottom: 240pt;
	left: 130pt;
	position: fixed;
	cursor: pointer;
	z-index: 10;
}

.onglet2 {
	
	
	
	bottom: 170pt;
	position: fixed;
	backdrop-filter: blur(8px);
	z-index: 10;


}

.ongletall p {
	font-family: 'monument';
	font-size: 15pt;
	color:  #242526;
	left: 142pt;
	position: fixed;
	bottom: 164pt;
	border-radius: 50pt;
	bottom: 164pt;
	padding-left: 10pt;
	padding-right:10pt;
	padding-top:4pt;
	padding-bottom:4pt;
	border-radius: 50pt;
	border:solid  #242526 1pt; 
	backdrop-filter: blur(8px);
	z-index: 10;


}



/* ________________________________ */






/*

.backcircle {
	position: fixed;
	top: 40pt;
	
	left: -90pt;
	right: -90pt;
	height: 1200pt;
	border-radius: 100%;
	border: solid black 90pt;
	z-index: 1;
	

}
*/

/* ________________________________ */


.panier
{
	position: fixed;
	z-index: 40;

}

#panier1 /*:hover*/

{

	margin-top: 120pt;
	margin-right: 17pt;
	width: 103pt;
	height: 100pt;
	border-color: white;
	border: 0.1pt solid #242526;
	border-radius: 100%;
	position: fixed;
	
	right: 30pt;
	transition: 2s;
	z-index: 40;
	
	-webkit-animation-duration: 10s;
	backdrop-filter: blur(8px);

}

#panier1 img 
{
	margin-top: 30pt;
	width: 80pt;
}



#panier2 /*:hover*/

{

	margin-top: 140pt;
	margin-right: 130pt;
	width: 103pt;
	height: 100pt;
	border-color: white;
	border: 0.1pt solid #242526;
	border-radius: 100%;
	position: fixed;
	
	right: 30pt;
	transition: 2s;
	z-index: 40;
	
	-webkit-animation-duration: 10s;
	backdrop-filter: blur(8px);
}

#panier2 img 
{
	margin-top: 30pt;
	width: 80pt;
	backdrop-filter: blur(8px);
}

#panier3 /*:hover*/

{

	margin-top: 120pt;
	margin-right: 242pt;
	width: 103pt;
	height: 100pt;
	border-color: white;
	border: 0.1pt solid #242526;
	border-radius: 100%;
	position: fixed;
	
	right: 30pt;
	transition: 2s;
	z-index: 40;
	
	-webkit-animation-duration: panier 10s;
	backdrop-filter: blur(8px);
	
}

#panier3 img 
{
	margin-top: 30pt;
	width: 80pt;

}


.links {
	position: fixed;
	height: 63pt;
	right: 18pt;
	top: 14pt;
	color: white;
	
	border: solid #242526 1pt;
	z-index: 10;
	padding-right: 30pt;
	padding-left: 90pt;
	padding-bottom: 33pt;
	border-radius: 50pt;
	backdrop-filter: blur(8px);
}

.linkss {
	width: 350pt;
	margin-top: 3pt;

}

.clear {
	width: 60pt;
	right: 393pt;
	top: 20pt;
	position: fixed;
	z-index: 45;
	cursor: pointer;
}


/* _______________________________________________________ */


.inner {
  position: fixed;
  width: 100%;
  height: 100%;
  

z-index: 2;
  color: white;

}

.log {
  position: fixed;
  z-index: 2;
  font-size: 20pt;
  font-family: helvetica;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  bottom:150pt;
  right: 20pt; 
  
}


/* _______________________________________________________ */








